<h1>Editing recipient</h1>

<%= render 'form' %>
<div class="back-button">
  <p><%= link_to 'Back', root_path %></p>
</div>
<div class="back-button">
  <p><%= link_to 'Show', @recipient  %></p>
</div>

