<div class="container" id="recipient">
  <div class="edit-form recipient">
	
		<h1>New recipient</h1>

		<%= render 'form' %>

		<div class="back-button">
		  <p><%= link_to 'Back', root_path %></p>
		</div>
	</div>	
</div>	