<<<<<<< HEAD

<div class="hero-unit">
<h1>About us</h1>
<h2>We are Flatiron school's student and we are all about making apps!</h2>
</div>
=======
<div class="hero-unit">
<h1>About us</h1>
<h2>We are Flatiron school's student and we are all about making apps!</h2>
</div>
>>>>>>> ac10c6742c7f3215ec7ee2b401b8b248f1309be1
