<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>TextboxList + Autocomplete demo</title>
    
    <link rel="stylesheet" href="assets/test.css" type="text/css" media="screen" title="Test Stylesheet" charset="utf-8" />
    
    <script src="assets/mootools-beta-1.2b1.js" type="text/javascript" charset="utf-8"></script>
    <!--<script src="textboxlist.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="assets/textboxlist.compressed.js" type="text/javascript" charset="utf-8"></script>
    <script src="assets/test.js" type="text/javascript" charset="utf-8"></script>
  </head>
  
  <body id="test">    
    <h1>TextboxList + Autocomplete Demo</h1>
    
    <form action="test_submit" method="get" accept-charset="utf-8">
      <ol>
        <li class="input-text">
          <label>Simple input</label>
          <input type="text" name="testinput" value="" id="testinput" />
        </li>
        
        <li id="facebook-list" class="input-text">
          <label>FacebookList input</label>
          <input type="text" value="" id="facebook-demo" />
          <div id="facebook-auto">

            
            <div class="default">Type the name of an argentine writer you like</div>

            <ul class="feed">
              <% Recipient.all.each do |element|%><tr>
              <li><b><font size="3" color="black"><%= element.first_name %></font></b></li>
              <% end %>
            </ul>
          </div>
            
             
            <td><%= link_to 'Add alert', alerts_path %></td>
            <td><%= link_to 'Edit', recipients_path %></td>
            
        </li>
      </ol>      
    </form>         
  </body>  
</html>