<h1>jithub</h1>



<%client = Twilio::REST::Client.new( "AC58325f3e89c734a36183bc7794e6431f" , "2307697510eb9aa980e524130d7538de")%>

<%@sms=client.account.messages.create(:from => "3479349187", :to => "9174506368", :body => "jithub")%>
<%@sms.sid%>

