<p id="notice"><%= notice %></p>

<p>Tracking #{@train_name}</p>
<p>
  <strong>start time:</strong>
  <%= @alert.start %>
</p>

<p>
  <strong>End time:</strong>
  <%= @alert.end %>
</p>

<p>
  <strong>Last sent:</strong>
  <%= @alert.last_sent %>
</p>
