

html {
    background-color: blue;
}

.container {
  background-color: #85A29E
}
.circular-image img {
               width: 300px;
               height: 300px;
               -webkit-border-radius: 150px;
               -moz-border-radius: 150px;
               -ms-border-radius: 150px;
               -o-border-radius: 150px;
                border-radius: 150px;
}



// body {

//   background-image:  image-url("5.jpg");
//   background-size: cover;
//   background-repeat:repeat-y;

//   background-position:top center;

//   background-attachment:fixed; 
// }
//table,th,td
//{
//border:1px solid black;
//}
// #white {
//     color:#FBF5F5;
// }

// body {

//   background-image:  image-url("g9.gif");
//   background-size: cover;
//   background-repeat:repeat-y;

//   background-position:top center;

//   background-attachment:fixed; 
// }

body {
  background-color: teal; 
}

>>>>>>> 02761cdbb083e3f6854dd5fd362bf13ceb57947f
.hero-unit {
  background-color: white;
  width: 36%;
  text-align: center;
}

.edit-user {
  background-color: #fff200;
  text-align: center;
  width: 36%;
  float: left;
}

.form_email {
  background-color: pink;
  float: right;
}

.sign-up-form {
  background-color: #fff200;
  border-radius: 2%;
  padding: 2.4%;
  border: 2px orange solid;
}

table.imagetable {
  font-family: verdana,arial,sans-serif;
  font-size:16px;
  color:#333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
}
table.imagetable th {
  background:#b5cfd2 url('cell-blue.jpg');
  border-width: 1px;
  padding: 16px;
  border-style: solid;
  border-color: #999999;
}
table.imagetable td {
  background:#dcddc0 url('cell-grey.jpg');
  border-width: 1px;
  padding: 16px;
  border-style: solid;
  border-color: #999999;
}


#sddm
{ margin: 0;
  padding: 0;
  z-index: 30}

#sddm li
{ margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  font: bold 11px arial}

#sddm li a
{ display: block;
  margin: 0 1px 0 0;
  padding: 4px 10px;
  width: 140px;
  background: #5970B2;
  color: #FFF;
  text-align: center;
  text-decoration: none}

#sddm li a:hover
{ background: #49A3FF}

#sddm div
{ position: absolute;
  visibility: hidden;
  margin: 0;
  padding: 0;
  background: #EAEBD8;
  border: 1px solid #5970B2}

  #sddm div a
  { position: relative;
    display: block;
    margin: 0;
    padding: 5px 30px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #EAEBD8;
    color: #2875DE;
    font: 11px arial}

  #sddm div a:hover
  { background: #49A3FF;
    color: #FFF}


