// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: #85A29E
}

.circular-image img {
  width: 300px;
  height: 300px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
}

.hero-unit {
  background-color: white;
  width: 36%;
  text-align: center;
}

.sign-up-form {
  background-color: #fff200;
  border-radius: 2%;
  padding: 2.4%;
  border: 2px orange solid;
}

table.imagetable {
  font-family: verdana,arial,sans-serif;
  font-size:16px;
  color:#333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
}
table.imagetable th {
  background:#b5cfd2 url('cell-blue.jpg');
  border-width: 1px;
  padding: 16px;
  border-style: solid;
  border-color: #999999;
}
table.imagetable td {
  background:#dcddc0 url('cell-grey.jpg');
  border-width: 1px;
  padding: 16px;
  border-style: solid;
  border-color: #999999;
}




